<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/structure/structure.css">
    <title>CleanUI | Navbar</title>
</head>
<body>
    <div class="container-fluid">
        <div class="full-content">
            <header class="header-container">
                <nav class="nav">
                    <div class="nav-logo">
                        <h2><a href="../index.html">Clean UI</a>
                        <sub class="text-4 bold-sm">
                            &nbsp;v1.0
                        </sub></h2>
                    </div>
                    <ul class="nav-links">
                        <li><a href="/" class="btn btn-link">Home</a></li>
                        <li><a href="/" class="btn btn-link">Docs</a></li>
                        <li><a href="/" class="btn btn-link">Contribute</a></li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
</body>
</html>