<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../stylesheets/structure/structure.css">
    <title>CleanUI | Introduction</title>
</head>
<body>
            <div class="full-content">
                <header class="header-container">
                    <nav class="nav">
                        <div class="nav-logo">
                            <h2><a href="../../index.html">Clean UI</a>
                            <sub class="text-4 bold-sm">
                                &nbsp;v1.0
                            </sub></h2>
                        </div>
                        <ul class="nav-links">
                            <li><a href="/" class="btn btn-link">Home</a></li>
                            <li><a href="./introduction.html" class="btn btn-link">Documentation</a></li>
                            <!-- <li><a href="/" class="btn btn-link">Contribute</a></li> -->
                        </ul>
                    </nav>
                </header>
                <main class="main-container">
                    <div class="aside-wrapper">
                        <aside class="aside-container">
                            <ul class="list">
                                <div class="list-title">
                                    <h4 class="text-3 bold-lg">
                                        Get Started
                                    </h4>
                                </div>
                                <li>
                                    <a href="./introduction.html" class="active ">
                                      Introduction
                                    </a>
                                  </li>
                            </ul>
                        </aside>
                    </div>
                    <div class="main-content">
                        <div class="main-content-section">
                            <h2 class="content-heading bold-lg text-start">Introduction to Clean UI</h2>
                            <div class="content">
                                <p class="text-4 bold-sm">
                                     Clean UI is free to use CSS library which comes with bunch of pre-defined CSS classes. Clean UI  enables you to write a code which is easy and fast. 
                                     <br/><br/>
                                     Clean UI also provides you the most used UI components, which makes the process easy for building responsive UIs.
                                </p>
                            </div>
                            <div class="divider"></div>
                        </div>
                    </div>
                </main>
            </div>

        <!-- highlight js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
</body>
</html>