@import url("../../style.css");

*, 
body{
    box-sizing: border-box;
}

.full-content{
    height: max-content;
    min-height: 100vh;
    margin: auto;
    position: relative;
    text-align: center;
    width: 95vw;
}

.main-container{
    display: grid;
    grid-template-areas: "sidebar content";
    grid-template-columns: 0.2fr 0.8fr;
    margin: auto;
    padding: var(--xl) 0;
    position: relative;
    width: 95%;
}

/* header container */
.header-container{
    position: sticky;
    top: 0;
    z-index: 99;
}

.aside-wrapper{
    grid-area:  sidebar;
    position: fixed;
    z-index: 9;
}

.aside-container{
    max-height: 90vh;
    min-width: 15rem;
    overflow: auto;
}

.footer-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-top: var(--md);
    padding-top: var(--md);
    width: 100%;
}

.footer-links {
    display: flex;
    font-size: var(--lg);
}

/* Main docs content styling */
.main-content {
    grid-area: content;
    text-align: start;
    width: 100%;
}
.main-content-section {
    padding: var(--sm) var(--xl);
}
.code-snippet {
    text-align: justify;
    line-height: calc(var(--md) + var(--sm));
}

/* list style */
.list {
    background-color: inherit;
    text-align: start;
  }
  .list-title {
    border: none;
    word-spacing: normal;
  }
  .list li {
    font-size: var(--md);
  }
  .list li a:hover {
    text-decoration: none;
  }
  
  .content-heading {
    color: var(--dark-primary-color);
    font-size: var(--xl);
    padding: var(--md) 0;
  }

.content {
    margin: var(--md) 0;
}